.svg1 {
  transform: scaleY(-1);
  background: #fdebd3;
  margin-bottom: -0.3rem;
}
.svg2 {
  background: #fdebd3;
  padding-top: 1rem;
  margin-bottom: -0.5rem;
}

.svg3 {
  transform: scaleX(-1);
  background: #d7e6f5;
  padding-top: 1rem;
  margin-bottom: -0.5rem;
}
